body
{
    background-color: #192A56;
    margin: 20px;
    color: black;
}
.railway
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
h3
{
    color: white;
}
.app-body
{
    background-color: white;
    padding: 50px;
    border-radius: 50px;
}
.budget-and-left p
{
    background-color: lightgreen;
    padding: 12px;
    list-style: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px auto;
}
#message
{
    background-color: rgb(224, 57, 66);;
    padding: 10px;
    list-style: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px auto; 
    text-align: center;
    display: none;
    color: white;
}
#expenses li
{
    border: 1px solid black;
    padding: 12px;
    list-style: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 1px auto;
    color: black;
}